table {
    width: 90%;
    text-align: center;
    margin-bottom: 2em;
}

table tr:first-child th:first-child {
    background-color: rgb(238, 136, 213);
}

table tr:last-child {
    background-color: rgb(250, 142, 209);
}

tr:nth-child(odd) {
    background-color: rgb(224, 224, 224);
}

table, th, tr, td {
    border: none;
}